<html>
  <body>
    <h1>404</h1>
    <pre>
Once upon a midnight dreary, while I web surfed, weak and weary,
Over many a strange and spurious website of fun games galore,
While I clicked my fav'rite bookmark, suddenly there came a warning,
And my heart was filled with mourning, mourning for my dear amour.
'Tis not possible!, I pleaded, but my browser, so conceited,
Remained blank, I then repeated, just a blank and nothing more.

With a scream, I was defeated, for my cookies were deleted,
So i begged, no longer seated, "Give me back my RPG lore!"
Then, in answer to my query, Through the net I loved so dearly,
Came its answer, dark and dreary: Quoth the server, <b>404</b>
    </pre>
  </body>
</html>